html {
    font-family: "Comic Sans MS";
    text-align: center;
    transition-duration: 0.4s;
}

body {
    background-color: black;
    color: white;
}

a {
    color: rgb(174, 245, 221);
}

button {
    font-family: "Comic Sans MS";
    color: rgb(255, 255, 255);
    background-color: rgb(85, 85, 85);
    border-radius: 12px;
    border: 2px solid
}

button:hover { 
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 15px;
    border: 2px solid rgb(85, 85, 85);
}